*{
    padding: 10px;
    margin: 10px;
}
p{
    font-weight: bold;
}


td { border: 1px solid black; }

button {
    text-align: center;}

    body {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10pt;
        color: #003868;
        background-color: #80B8E8;
        margin: 6mm;
        text-align: center;
    }

h2 {
    color: white;
    background-color: #003868;
    width: 100%;
}
table {
    font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #003868;
  color: white;
 
}

th {
    border: 1px solid rgb(0, 0, 0);
background-color: rgba(77, 101, 138, 0.667); }
